/* ==========================================================================
   DIMENSIONS
   ========================================================================== */


.wi-25  { width: 25%; }
.wi-50  { width: 50%; }
.wi-75  { width: 75%; }
.wi-full { width: 100%; }

/* ==========================================================================
   GEOMETRY
   ========================================================================== */

/* Width Scale */

.wi-1  { width: 1rem; }
.wi-2  { width: 2rem; }
.wi-3  { width: 4rem; }
.wi-4  { width: 8rem; }

/*

Make an element shrink wrap its content.  Should be combined with a float class .fl or .fr
*/

.shrink {
    display: block;
    width: auto !important;
}

/*

Make an element fill the remaining space.  N.B. This will hide overflow.
*/

.fill {
    display: block;
    overflow: hidden;
    width: auto !important;
}

/*

Make an element the width of its parent.
*/

.db-full {
    display: block;
    width: 100%;
}


/* ==========================================================================
   Max widths
   ========================================================================== */


.max-wi { max-width: 100%; }
.max-wi { max-width: none; }
.max-wi { max-width: max-content; }
.max-wi { max-width: min-content; }
.max-wi { max-width: fit-content; }
.max-wi { max-width: fill-available; }

.mw-64 { max-width: 64em; }
.mw-48 { max-width: 48em; }
.mw-32 { max-width: 32em; }
.mw-16 { max-width: 16em; }
