/* ==========================================================================
   LINKS
   ========================================================================== */

.link { text-decoration: none; }

a:hover {
  color: cyan;
  -webkit-transition: color .4s ease-in-out;
}

a:visited {
  color: #111;
}

a:active {
  color: darkcyan;
  -webkit-transition: color .4s ease-in-out;
}

