/*

   LINKS

*/

.link {
  text-decoration: none;
  transition: .4s color;
}

.link:link    { color: #30BBDB!important; }
.link:visited { color: #eee!important; }
.link:hover   { color: #ddd!important; }
.link:active  { color: #ccc!important; }


