body {
  font-family: Avenir, "Comic Sans MS", helvetica, sans-serif;
  background-color:#f3f3f3;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color .4s ease-in-out;
}

a:visited { color: #111; }
a:hover {
  color: $deeppink;
  -webkit-transition: color .4s ease-in-out;
}

